body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Cor de fundo clara */
    color: #ffffff; /* Cor de texto */
    margin: 0;
    padding: 0;
}

header {
    background-color: #c78288; /* Cor de destaque */
    color: white;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    margin: 0;
    font-size: 36px;
}

.logo p {
    margin: 5px 0 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0f0f0;
}

main {
    padding: 40px 20px;
}

main section {
    margin-bottom: 40px;
}

main h2 {
    font-size: 28px;
    color: #c78288; /* Cor de destaque */
    margin-bottom: 20px;
}

.servico {
    margin-bottom: 20px;
}

.servico h3 {
    font-size: 22px;
    color: #c78288;
}

footer {
    background-color: #c78288; /* Cor de destaque */
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

#message-to-liz {
    font-size: 26px;
    margin-bottom: 25px;
    color: #f28b82;
    letter-spacing: 0.5px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

#yes {
    background-color: #f28b82;
    color: #fff;
}

#no {
    background-color: #3a3a3a;
    color: #fff;
    position: relative;
}

#no.moving {
    animation: shake 0.5s ease;
}
